[Unit]
Description=Raspberry Pi 4 Thermal Manager with Conda
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c "source /home/homeguardian/miniconda3/bin/activate homeguardian && sudo python util/TempControler.py"
WorkingDirectory=/home/homeguardian/HomeGuardian2.1/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=homeguardian
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
