[Unit]
Description=Raspberry Pi 4 Thermal Manager with Conda
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c "source /home/homeguardiandev/miniconda3/bin/activate homeguardian && python util/TempControler.py"
WorkingDirectory=/home/homeguardiandev/HomeGuardian2.1/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=homeguardiandev
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
