[Unit]
Description= HomeGuardian Wifi Scanner

[Service]
Type=simple
ExecStart=/bin/bash -c "source /home/homeguardiandev/miniforge3/bin/activate homeguardian && python util/wifi_scanner.py"
WorkingDirectory=/home/homeguardiandev/HomeGuardian2.1/
StandardOutput=inherit
StandardError=inherit
User=homeguardiandev
Environment=PYTHONUNBUFFERED=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
